# Environment variables
.env
.env.txt
.env*
!.env.example


# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
venv/
env/
ENV/

# Data runtime folders
data/uploads/*
data/vectorstore/*
!data/uploads/.gitkeep
!data/vectorstore/.gitkeep

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
